<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
</head>

<body>
    <nav>

        <a href="/home">Home</a>

    </nav>
    <h1>Kristian Matsson
    </h1>
    <p>he plays different tunings on guitar</p>
    <p>he seems to love animals and live in swedens wilderness</p>
    <img src='Tallest-Man-on-Earth-e1343070174150.jpg' />
</body>

</html>